{erl_opts, [debug_info]}.
{deps, [
        {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.7.0"}}}
]}.
{plugins, [rebar3_run]}.
{shell, [
  % {config, "config/sys.config"},
    {apps, [backend]}
]}.

{plugins, [rebar3_run]}.

{relx, 
  [{release, {pre_alpha, "0.0.1"},
    [backend]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
  ]
}.